[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/nauvyaaa
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/nauvyaaa
	label-Verified = -1..+1 group user/nauvyaaa
	push = group user/nauvyaaa
	read = group user/nauvyaaa
	rebase = group user/nauvyaaa
	removeReviewer = group user/nauvyaaa
	submit = group user/nauvyaaa
[access "refs/heads/*"]
	create = group user/nauvyaaa
	push = +force group user/nauvyaaa
	pushMerge = group user/nauvyaaa
	read = group user/nauvyaaa
[access "refs/tags/*"]
	push = group user/nauvyaaa
	push = +force group user/nauvyaaa
